# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.swp
*.swo
*~

# zsh 缓存
.zinit/
.zcompdump*
.zsh_history

# Powerlevel10k 缓存
.p10k.zsh.backup

# 字体缓存（从 GitHub 下载）
.cache/fonts/

# 子仓库配置
rime/*
!rime/scripts/   
private/
rime_sbzrjp/
sbsrf/

config/nvim/tmp/*
config/yazi/flavors/*
config/sway/*

# 环境变量文件
plugins/avante/.env
config/nvim/.nvimlog
config/nvim/sbzr.nvim.im.db/